DB_CONNECTION_STRING=postgresql://postgres.risfitksxxuphkigcrnd:8dWCJHKS$UiG?8?@aws-0-ap-southeast-2.pooler.supabase.com:6543/postgres

REDDIT_REQUEST_DELAY_SECONDS=3
REDDIT_MAX_RETRIES=3
REDDIT_MAX_PAGES_PER_TARGET=5
PLAYWRIGHT_HEADLESS=true
